<!-- TODO: Blog bejegyzések formázása -->
<section id="main">
  <div>
    <h1>The Blog</h1>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium</p>

    <div>
      <div>
        <!-- TODO: Kártya formázása -->
        <div>
          <a href="#"><img src="/assets/img/blog/img1.jpg" alt="blog_img"></a>
          <div>
            <h2><a href="#">Amazing Blog Post One</a></h2>
            <p>Lorem ipsum dolor sit amet, adipisicing elit. Eos rerum dolorum, est voluptatem modi
              accusantium perspiciatis ...</p>
          </div>
          <div>
            <a href="#">Read More</a>
            <a href="#"><i class="far fa-heart"></i> 59 Likes</a>
            <a href="#"><i class="far fa-comments"></i> 120 Comments</a>
          </div>
        </div>
      </div>

      <!-- TODO: legyen 6 kártya összesen -->
    </div>
  </div>
</section>

<!-- TODO: Oldal lábléc formázása -->
<footer>
  <div>
    <p>© 2018 BME AUT, All right reserved, Designed by <a href="#">BME AUT</a></p>
    <div>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
      <a href="#"><i class="fab fa-google-plus-g"></i></a>
    </div>
  </div>
</footer>
