<!-- TODO: Blog bejegyzések formázása -->
<section id="main">
  <div>
    <h1>The Blog</h1>
    <p id="alcim">At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium</p>

    <div class="container">
      <div class="row">
        <!-- TODO: Kártya formázása -->
        <div class="card col-3 m-3 p-0" *ngFor="let feedPost of feedPostList">
          <a href="#">
            <img class="card-img-top" alt="blog_img" src= />
          </a>
          <div class="card-body">
            <h2 class="card-title"><a href="#">{{feedPost.title}}</a></h2>
            <p size="12px">
              {{feedPost.contentText}}
            </p>
          </div>
          <div class="my-footer card-footer">
            <a href="#">Read More</a>
            <a href="#"><i class="far fa-heart"></i> 59 Likes</a>
            <a href="#"><i class="far fa-comments"></i> 120 Comments</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- TODO: Oldal lábléc formázása -->
<footer>
  <div>
    <p>© 2018 BME AUT, All right reserved, Designed by <a href="#">BME AUT</a></p>
    <div>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
      <a href="#"><i class="fab fa-google-plus-g"></i></a>
    </div>
  </div>
</footer>
