<div class="modal-content">
  <div class="modal-header">
    <h4 class="card-title mb-4 mt-1">Regisztráció</h4>
    <!--        <button class="float-right btn btn-outline-primary" data-toggle="modal" data-target="signupmodal">Regisztráció</button>-->
    <button type="button" class="close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card">
    <article class="card-body">
      <form>

        <div class="form-group">
          <label>Titulus</label>
          <input name="email" class="form-control" placeholder="pl: Dr." required
                 [(ngModel)]="user.title"/>
        </div>

        <div class="form-group">
          <label>Vezetéknév</label>
          <input name="email" class="form-control" placeholder="Vezetéknév" required
                 [(ngModel)]="user.firstName"/>
        </div>

        <div class="form-group">
          <label>Keresztnév</label>
          <input name="email" class="form-control" placeholder="Keresztnév" required
                 [(ngModel)]="user.secoundName"/>
        </div>

        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="d2" #c2="ngModel" [(ngModel)]="this.birthDayDate" ngbDatepicker #d2="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Email cím</label>
          <input name="email" class="form-control" placeholder="Email" type="email" required
                 [(ngModel)]="user.email"/>
        </div>
        <div class="form-group">
          <label>Felhasználó név</label>
          <input name="username" class="form-control" placeholder="Felhasználó név" required
                 [(ngModel)]="user.userName"/>
        </div>
        <div class="form-group">
          <label>Jelszó</label>
          <input name="password" class="form-control" placeholder="******" type="password" required
                 [(ngModel)]="user.password"/>
        </div>
        <div class="form-group">
          <label>Ismételd meg a jelszavad</label>
          <input name="password" class="form-control" placeholder="******" type="password" required/>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label> <input type="checkbox"/> Jelszó mentése </label>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" (click)="submint()">Regisztráció
          </button>
        </div>
      </form>
    </article>
  </div>
</div>

