<div class="video-header">
  <div class="fullscreen-video-wrap">
    <video src="assets/videos/me.mp4" loop></video>
  </div>
  <div class="header-overlay">
    <div class="header-content">
      <h1>Felsőoktatási Dolgozók Szakszervezete</h1>
      <h2>Miskolci Egyetem</h2>
      <button type="button" class="btn btn-success mt-4" (click)="modalsService.openSigninModal()">
        Bejelentkezés
      </button>
      <button type="button" class="btn btn-success mt-4" (click)="modalsService.openSignupModal()">
        Regisztráció
      </button>
    </div>
  </div>
</div>
