<div class="video-header">
  <div class="fullscreen-video-wrap">
    <video src="assets/videos/me.mp4" autoplay loop muted></video>
  </div>
  <div class="header-overlay">
    <div class="header-content">
      <h1>Felsőoktatási Dolgozók Szakszervezete</h1>
      <h2>Miskolci Egyetem</h2>
      <button type="button" class="btn btn-success mt-4" (click)="openSigninModal()">
        Bejelentkezés
      </button>
      <button type="button" class="btn btn-success mt-4" (click)="openSignupModal()">
        Regisztráció
      </button>
    </div>
  </div>
</div>

<!-- Contact Section -->
<section class="contact-section bg-black">
  <div class="container">

    <div class="row">

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Cím</h4>
            <hr class="my-4">
            <div class="small text-black-50">3035 Miskolc, Egyetem Város</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4">
            <div class="small text-black-50">
              <a href="#">vmarci94@gmail.com</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-mobile-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Telefon</h4>
            <hr class="my-4">
            <div class="small text-black-50">+36 (30) 525-7026</div>
          </div>
          </div>
        </div>

    </div>
  </div>

  <div class="row">
    <div class="container">

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </div>


</section>

<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
  <div class="container">
    Copyright &copy; Your Website 2019
  </div>
</footer>
