


<div class="video-header wrap">
  <div class="fullscreen-video-wrap">
    <video src="assets/videos/me.mp4" autoplay loop muted></video>
  </div>
  <div class="header-overlay">
    <div class="header-content">
      <h1>Felsőoktatási Dolgozók Szakszervezete</h1>
      <h2>Miskolci Egyetem</h2>
      <button type="button" class="btn btn-success mt-4" data-toggle="modal" data-target="#signinmodal">
        Bejelentkezés
      </button>
      <button type="button" class="btn btn-success mt-4" data-toggle="modal" data-target="#signupModal">
        Regisztráció
      </button>
    </div>
  </div>
</div>

<!--Bejelentkezés-->
<div class="modal fade" id="signinmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="card-title mb-4 mt-1">Bejelentkezés</h4>
        <button class="float-right btn btn-outline-primary" data-toggle="modal" data-target="#signupModal"
                data-dismiss="modal">Regisztráció
        </button>
      </div>
      <div class="card">
        <article class="card-body">
          <form>
            <div class="form-group">
              <label>Your email</label>
              <input name="email" class="form-control" placeholder="Email" type="email" required
                     [(ngModel)]="user.email">
            </div> <!-- form-group// -->
            <div class="form-group">
              <a class="float-right" href="#">Forgot?</a>
              <label>Your password</label>
              <input name="password" class="form-control" placeholder="******" type="password" required [(ngModel)]="user.password">
            </div> <!-- form-group// -->
            <div class="form-group">
              <div class="checkbox">
                <label> <input type="checkbox"> Save password </label>
              </div> <!-- checkbox .// -->
            </div> <!-- form-group// -->
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" (click)="signin()" data-dismiss="modal">Bejelentkezés</button>
            </div> <!-- form-group// -->
          </form>
        </article>
      </div>
    </div>
  </div>
</div>

<!--Regisztráció-->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="card-title mb-4 mt-1">Regisztráció</h4>
        <!--        <button class="float-right btn btn-outline-primary" data-toggle="modal" data-target="signupmodal">Regisztráció</button>-->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card">
        <article class="card-body">
          <form>
            <div class="form-group">
              <label>Email cím</label>
              <input name="email" class="form-control" placeholder="Email" type="email" required
                     [(ngModel)]="user.email"/>
            </div> <!-- form-group// -->
            <div class="form-group">
              <label>Felhasználó név</label>
              <input name="username" class="form-control" placeholder="Felhasználó név" required
                     [(ngModel)]="user.userName"/>
            </div> <!-- form-group// -->
            <div class="form-group">
              <label>Jelszó</label>
              <input name="password" class="form-control" placeholder="******" type="password" required [(ngModel)]="user.password"/>
            </div> <!-- form-group// -->
            <div class="form-group">
              <label>Ismételd meg a jelszavad</label>
              <input name="password" class="form-control" placeholder="******" required/>
            </div> <!-- form-group// -->

            <div class="form-group">
              <div class="checkbox">
                <label> <input type="checkbox"/> Jelszó mentése </label>
              </div> <!-- checkbox .// -->
            </div> <!-- form-group// -->
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" (click)="signup()">Regisztráció</button>
            </div> <!-- form-group// -->
          </form>
        </article>
      </div>
    </div>
  </div>
</div>

<!-- Contact Section -->
<section class="contact-section bg-black">
  <div class="container">

    <div class="row">

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Address</h4>
            <hr class="my-4">
            <div class="small text-black-50">4923 Market Street, Orlando FL</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4">
            <div class="small text-black-50">
              <a href="#">hello@yourdomain.com</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-mobile-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Phone</h4>
            <hr class="my-4">
            <div class="small text-black-50">+1 (555) 902-8832</div>
          </div>
        </div>
      </div>
    </div>

    <div class="social d-flex justify-content-center">
      <a href="#" class="mx-2">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="mx-2">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" class="mx-2">
        <i class="fab fa-github"></i>
      </a>
    </div>

  </div>
</section>

<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
  <div class="container">
    Copyright &copy; Your Website 2019
  </div>
</footer>
