// Variables
$white: #fff;
$gray-500: #adb5bd;

$gray-900: #212529;
$black: #161616;
$hover-color: #28a745;
$hedear-primary-color: #665;

$primary: #64a19d;

$main-highlight-row-width: 740px;
$main-highlight-row-height: 450px;
$main-highlight-image-ratio: $main-highlight-row-height / $main-highlight-row-width * 100%;
