/* You can add global styles to this file, and also import other style files */
//@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

@import "variables";
@import "contact";

div.my-footer, .card-footer {
  font-size: 12px;
  background: transparent;
  border-top: 2px dashed gray;

  a {
    color: gray;

    &:hover {
      color: darkgreen;
      text-decoration: none;
    }
  }

}

#alcim {
  text-align: center
}

div.container {
  display: flex;
  align-items: center;
  justify-content: center
}

div.row {
  display: flex;
  align-items: center;
  justify-content: center
}
