<header id="me-header">
  <mdb-navbar class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">
      <img class="resize cimer" src="/assets/images/me_logo_cimer_neg.png" alt="ME FDSZ">
      <img class="resize logo" src="/assets/images/me_logo_black_neg.png" alt="ME FDSZ">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/feeds">Hírek</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Beszámolók </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin" *ngIf="(user | async) != null && (user | async)?.role === 'ADMIN'">admin
            oldal</a>
        </li>
      </ul>

      <button class="btn-outline-info  btn" *ngIf="!authService.isLoggedIn()"
              (click)="this.modalsService.openSigninModal()">
        <i class="fa fa-user"></i> Bejelentkezés
      </button>

      <div class="nav-item dropdown btn-group dropleft" *ngIf="authService.isLoggedIn()">

        <button class="btn-outline-info nav-link dropdown-toggle btn" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i> {{(user | async)?.userName}}
        </button>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="profilDropDown">
          <a class="dropdown-item" routerLink="personal">
            <i class="fa fa-fw fa-gear"></i>Beállítások
          </a>
          <a class="dropdown-item" routerLink="/resort">
            <i class="fa fa-fw fa-ticket"></i>Üdülő
          </a>
          <a class="dropdown-item" routerLink="/" (click)="signout()">
            <i class="fa fa-fw fa-power-off"></i>Kijelentkezés
          </a>
        </div>
      </div>

    </div>
  </mdb-navbar>
</header>
