<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo mb-3 mb-sm-5" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/">
      <img class="resize cimer" src="/assets/images/me_logo_cimer_neg.png" alt="ME FDSZ">
      <img class="resize logo" src="/assets/images/me_logo_black_neg.png" alt="ME FDSZ">
    </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav nav-pills mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/feeds">Hírek<span
          class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Magunkról</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Üdülő</a>
      </li>
    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link" (click)="signin()" type="button" *ngIf="!isLoggedIn()">
          Bejelentkezés
        </a>
        <a class="nav-link" *ngIf="isLoggedIn()">
          <div class="btn-group" mdbDropdown>
            <a mdbDropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
              <i class="fa fa-user mr-1"></i>
              {{(user | async)?.fullName}}
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <button class="dropdown-item" routerLink="/settings">
                Beállítások
              </button>
              <button class="dropdown-item" routerLink="/messages" *ngIf="isLoggedIn() && !(user | async)?.admin">
                Üzenetek
              </button>
              <button class="dropdown-item" routerLink="/inbox" *ngIf="isLoggedIn() && (user | async)?.admin">
                Üzenetek
              </button>
              <button class="dropdown-item" routerLink="/post-admin" *ngIf="isLoggedIn() && (user | async)?.admin">
                Posztok
              </button>
              <button class="dropdown-item" routerLink="/user-editor" *ngIf="isLoggedIn() && (user | async)?.admin">
                Nyilvántartás
              </button>
              <button class="dropdown-item" routerLink="/booking" *ngIf="isLoggedIn()">
                Foglalás
              </button>
              <div class="divider dropdown-divider"></div>
              <button class="dropdown-item" (click)="signout()">
                Kijelentkezés
              </button>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
