<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/">
      <img class="resize cimer" src="/assets/images/me_logo_cimer_neg.png" alt="ME FDSZ">
      <img class="resize logo" src="/assets/images/me_logo_black_neg.png" alt="ME FDSZ">
    </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav nav-pills mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/feeds">Hírek<span
          class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Magunkról</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Üdülő</a>
      </li>
    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link" (click)="signin()" type="button" *ngIf="!isLoggedIn()">
          Bejelentkezés
        </a>
        <a class="nav-link" *ngIf="isLoggedIn()">
          <div class="btn-group" mdbDropdown>
            <a mdbDropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
              <i class="fa fa-user"></i>{{(user | async)?.username}}</a>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <button class="dropdown-item">Beállítások</button>
              <button class="dropdown-item">Üzenetek</button>
              <button *ngIf="isLoggedIn() && (user | async)?.role === 'ADMIN'" class="dropdown-item">Admin</button>
              <div class="divider dropdown-divider"></div>
              <button class="dropdown-item" (click)="signout()">Kijelentkezés</button>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
