@import "variables";

button.btn-outline-info {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

#profilDropDown {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

section#me-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: $hedear-primary-color;

  a {
    color: gray;

    &:hover {
      color: $hover-color;
      text-decoration: none;
    }
  }
}

img.resize {
  margin-left: 5px;
  margin-right: 5px;
}

img.resize.cimer {
  width: 37.3864px;
  height: 35.7386px;
}

img.resize.logo {
  width: 124.702px;
  height: 36.0653px;
}

.from-inline {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
