<div class="container pb-5" *ngIf="mainPageContent">
  <div class="row text-center pb-5">
    <div class="col-12">
      <h3>Miskolci Egyetem</h3>
      <h1>Felsőoktatási Dolgozók Szakszervezete</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-12">
      <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">

        <ng-container *ngFor="let highLight of this.mainPageContent.highlightList">
          <mdb-carousel-item [routerLink]="highLight.isVideo ? '' : getPostRelativeLink(highLight.id)" class="cursor-pointer"
                             [class.cursor-pointer]="!highLight.isVideo">
            <video class="video-fluid" autoplay loop *ngIf="highLight.isVideo;else image">
              <source src="./assets/videos/me.mp4" type="video/mp4"/>
            </video>

            <ng-template #image>
              <div class="view w-100" style="padding-top: 56.25%;">
                <img class="d-block w-100 carousel-image" [src]="postService.getImageUrlById(highLight.imageId)">
                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
              </div>
            </ng-template>


            <div class="carousel-caption">
              <h3 class="h3-responsive">{{highLight.title}}</h3>
              <p>{{highLight.introduction}}</p>
            </div>
          </mdb-carousel-item>
        </ng-container>

      </mdb-carousel>
    </div>

    <div class="col-sm-4 col-12">
      <ul class="list-group">
        <ng-container *ngFor="let highLight of this.mainPageContent.highlightList.slice(1, this.mainPageContent.highlightList.length)">
          <li class="list-group-item cursor-pointer font-size" [routerLink]="getPostRelativeLink(highLight.id)">
            {{ highLight.title }}
          </li>
        </ng-container>
      </ul>
    </div>

    <div class="col-12 my-5">
      <div class="font-size text-justify" [innerHTML]="mainPageContent.introductionInHTML"></div>
    </div>
  </div>
</div>
