<div class="modal-dialog modal-dialog-scrollable my-0 mx-0" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <div class="container text-center">
        <h4 class="mb-4 mt-1">Regisztráció</h4>
      </div>
    </div>
    <div class="modal-body">
      <form class="text-center">
        <div class="mb-4">
          <div class="form-row">
            <div class="col-4">
              <input type="text" id="title" class="form-control" placeholder="Titulus" [(ngModel)]="user.title">
            </div>
            <div class="col-8">
              <input type="text" id="firstName" class="form-control" placeholder="Vezetéknév" required
                     [(ngModel)]="user.firstName">
            </div>
          </div>
          <input type="text" id="lastName" class="form-control mb-4 mt-2" placeholder="Keresztnév" required
                 [(ngModel)]="user.secoundName">
        </div>

        <input type="text" id="userName" class="form-control mb-4" placeholder="Felhasználónév"
               [(ngModel)]="user.userName">

        <input type="email" id="email" class="form-control mb-4" placeholder="E-mail" [(ngModel)]="user.email">

        <!-- Password -->
        <input type="password" id="password" class="form-control" placeholder="Jelszó"
               aria-describedby="passwordHelpBlock" [(ngModel)]="user.password">
        <small id="passwordHelpBlock" class="form-text text-muted mb-4">
          legalább X karakter
        </small>

        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="dp" [(ngModel)]="this.birthDayDate" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </form>

      </form>
    </div>
    <div class="modal-footer">
      <!-- Sign up button -->
      <button class="btn btn-success my-4" type="button" (click)="submint()">Regisztráció</button>
    </div>
  </div>
</div>
