<div class="header-overlay">
  <div class="header-content">
    <h1>Felsőoktatási Dolgozók Szakszervezete</h1>
    <h2>Miskolci Egyetem</h2>
    <button type="button" mdbBtn class="btn btn-success mt-4" (click)="modalsService.openSigninModal()">
      Bejelentkezés
    </button>
    <button type="button" class="btn btn-success mt-4" (click)="modalsService.openSignupModal()">
      Regisztráció
    </button>
  </div>
</div>

<div class="main-page-component">
  <div class="main-highlight-section page-section">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-8">
          <app-main-gallery></app-main-gallery>
        </div>
        <div class="col-lg-4">
          <app-highlight-list></app-highlight-list>
        </div>
      </div>
    </div>
  </div>
</div>
