<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img class="user-avatar" src="assets/images/logo.png" width="150px"/>
      <h1>SB Admin BS4 Angular7</h1>
      <form role="form">
        <div class="form-content">

          <div class="form-group">
            <input type="text" class="form-control input-underline input-lg" name="personalName"
                   [(ngModel)]="user.personalName" placeholder="{{ 'Full Name' | translate }}">
          </div>

          <div class="form-group">
            <input type="text" class="form-control input-underline input-lg" name="userName"
                   [(ngModel)]="user.userName" placeholder="{{ 'User Name' | translate }}">
          </div>

          <div class="form-group">
            <input type="text" class="form-control input-underline input-lg" [(ngModel)]="user.email" name="email"
                   placeholder="{{ 'Email' | translate }}">
          </div>

          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" [(ngModel)]="user.password"
                   name="password"
                   placeholder="{{ 'Password' | translate }}">
          </div>
        </div>
        <button class="btn rounded-btn" (click)="register()">{{ 'Register' | translate }}</button>&nbsp;
        <button class="btn rounded-btn">{{ 'Log in' | translate }}</button>
      </form>
    </div>
  </div>
</div>
