<div class="blockquote text-center">
  <h1>Hírek</h1>
  <h3 class="text-muted">Itt olvashatsz a legfrissebb híreinkről</h3>
</div>

<div class="container my-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-4 col-sm-6 grid-padding" *ngFor="let post of postList">
      <div class="card" [routerLink]="[getPostRelativeLink(post)]">
        <div class="card-img-top image-container">
          <img class="card-image" alt="post_image" [src]="postService.getImageUrlById(post.imageId)"/>
        </div>

        <div class="card-body">
          <h2 class="card-title"><a href="#">{{post.title}}</a></h2>
          <p class="introduction">
            {{post.introduction}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
