<div class="card">
  <article class="card-body">
    <a href="" class="float-right btn btn-outline-primary">Sign up</a>
    <h4 class="card-title mb-4 mt-1">Sign in</h4>
    <form>
      <div class="form-group">
        <label>Your email</label>
        <input name="" class="form-control" placeholder="Email" type="email">
      </div> <!-- form-group// -->
      <div class="form-group">
        <a class="float-right" href="#">Forgot?</a>
        <label>Your password</label>
        <input class="form-control" placeholder="******" type="password">
      </div> <!-- form-group// -->
      <div class="form-group">
        <div class="checkbox">
          <label> <input type="checkbox"> Save password </label>
        </div> <!-- checkbox .// -->
      </div> <!-- form-group// -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Signup  </button>
      </div> <!-- form-group// -->
    </form>
  </article>
</div>


<!--<div class="modal-header">-->
<!--  <h4 class="modal-title">Hi there!</h4>-->
<!--  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">-->
<!--    <span aria-hidden="true">&times;</span>-->
<!--  </button>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--  <p>Hello, {{name}}!</p>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>-->
<!--</div>-->
