<div class="wrapper">
  <nav id="sidebar">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Év
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item" type="button" *ngFor="let year of (yearsList | async)" (click)="selectYear(year)">
          {{year}}
        </button>
      </div>
    </div>
    <ul class="list-group" *ngIf="selectedYear != null">
      <li class="list-group-item list-group-item-action" *ngFor="let turnus of (turnusList | async)"
          [class.active]="turnus === selectedTurnus">
        {{turnus.startDate}} - {{turnus.endDate}}
      </li>
    </ul>
  </nav>

  <ul class="flex-container" id="content">
    <li class="flex-item">1</li>
    <li class="flex-item">2</li>
    <li class="flex-item">3</li>
    <li class="flex-item">4</li>
    <li class="flex-item">5</li>
    <li class="flex-item">6</li>
  </ul>

</div>
