/* You can add global styles to this file, and also import other style files */
@import "~rfs/scss.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title {
  font-size: 4rem;
}

.cursor-pointer {
  cursor: pointer;
}

.font-size-1_5 {
  font-size: 1.5rem !important;
}

// The font-size mixin is a shorthand which calls
// +rfs(4rem, font-size)

// Other shorthand mixins that are available are:
// +padding(4rem)
// +padding-top(4rem)
// +padding-right(4rem)
// +padding-bottom(4rem)
// +padding-left(4rem)
// +margin(4rem)
// +margin-top(4rem)
// +margin-right(4rem)
// +margin-bottom(4rem)
// +margin-left(4rem)

// For properties which do not have a shorthand, the property can be passed:
// +rfs(4rem, border-radius)

// Whenever a value contains a space, it should be escaped with `#{}`:
// +rfs(0 0 4rem red #{","} 0 0 5rem blue, box-shadow)

// Custom properties (css variables):
// +rfs(4rem, --border-radius)

