img {
  display: block;
  max-width: 100%;
  max-height: 20vh;
  width: auto;
  height: auto;
}

.img-disabled {
  display: inline-block !important;
}

.img-overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: grey;
  opacity: 0.8;
}
