<!-- Footer -->
<footer class="page-footer font-small indigo mt-5">

  <!-- Footer Elements -->
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="mb-5 d-flex justify-content-center flex-center">
          <a class="youtube-ic">
            <mdb-icon fab icon="youtube" size="2x" class="white-text mx-0 mx-3"></mdb-icon>
          </a>
          <!-- Facebook -->
          <a class="fb-ic">
            <mdb-icon fab icon="facebook" size="2x" class="white-text mx-0 mx-3"></mdb-icon>
          </a>
          <a class="uni-ic" href="www.uni-miskolc.hu">
            <mdb-icon fas icon="university" size="2x" class="white-text mx-0 mx-3"></mdb-icon>
          </a>
        </div>
      </div>
    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <p>Miskolci Egyetem Felsőoktatásban Dolgozók Szakszervezete</p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
