<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 pt-5">
        <div class="flex-center">
          <div class="col-md-4 mb-2 mb-md-0">
            <div class="card py-2 h-100">
              <div class="card-body text-center">
                <mdb-icon fas icon="map-marked-alt" size="2x" class="blue-text mb-1"></mdb-icon>
                <h4 class="text-black-50 text-uppercase m-0">Cím</h4>
                <hr class="my-2">
                <div class="small text-black-50">3035 Miskolc, Egyetem Város</div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-2 mb-md-0">
            <div class="card py-2 h-100">
              <div class="card-body text-center">
                <mdb-icon fas icon="envelope" size="2x" class="blue-text mb-1"></mdb-icon>
                <h4 class="text-black-50 text-uppercase m-0">Email</h4>
                <hr class="my-2">
                <a href="#" class="small text-black-50">vmarci94@gmail.com</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-2 mb-md-0">
            <div class="card py-2 h-100">
              <div class="card-body text-center">
                <mdb-icon fas icon="mobile-alt" size="2x" class="blue-text mb-1"></mdb-icon>
                <h4 class="text-black-50 text-uppercase m-0">Telefon</h4>
                <hr class="my-2">
                <div class="small text-black-50">+36 (30) 525-7026</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="mb-5 flex-center">
          <a class="youtube-ic">
            <mdb-icon fab icon="youtube" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!-- Facebook -->
          <a class="fb-ic">
            <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <a class="uni-ic" href="www.uni-miskolc.hu">
            <mdb-icon fas icon="university" size="2x" class="white-text mr-md-4 mr-3"></mdb-icon>
          </a>
        </div>
      </div>
    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <p>Miskolci Egyetem Felsőoktatásban Dolgozók Szakszervezete</p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
