@import "~src/styles/styles";
$grid-gutter-width:           30px !default;

footer{
  padding-top: $grid-gutter-width * 1.5;
  font-size: 14px;
}

.footer-component {
  padding-top: $grid-gutter-width * 1.5;
  font-size: 14px;
  background-color: $gray-900;

  ul {
    padding-left: 0;

    li {
      margin-bottom: 10px
    }
  }

  a {
    color: $gray-500;

    &:hover {
      color: white;
    }

    i {
      font-size: 16px;
      vertical-align: bottom;
    }

    //img {
    //  width: 20px;
    //  height: 20px;
    //  margin-right: 10px;
    //}
  }

  //.footer-list-header {
  //  font-weight: bold;
  //  color: $gray-700;
  //}

}


.contact-section {
  padding: 2rem 0 0;

  .card {
    border: 0;
    border-bottom: 0.1rem solid $primary;

    h4 {
      font-size: 0.8rem;
      font-family: 'Varela Round', serif;
      text-transform: uppercase;
    }

    hr {
      border-color: $primary;
      border-width: 0.1rem;
    }
  }
}

.card-body {
  padding: 0;
}

.social {
  a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: fade-out($white, 0.9);
    border-radius: 100%;
    line-height: 3rem;
    color: fade-out($white, 0.7);

    &:hover {
      color: fade-out($white, 0.5);
    }

    &:active {
      color: $white;
    }
  }
}

.bg-black {
  //background-color: #343a40 !important;
  background-color: green !important;
}

.bg-primary {
  background-color: green;
}

.text-primary {
  color: $primary !important;
}
