@import "bootstrap/scss/bootstrap";
@import "variables";

footer{
  padding-top: $grid-gutter-width * 1.5;
  font-size: 14px;
}

.footer-component {
  padding-top: $grid-gutter-width * 1.5;
  font-size: 14px;
  background-color: $gray-900;

  ul {
    padding-left: 0;

    li {
      margin-bottom: 10px
    }
  }

  a {
    color: $gray-500;

    &:hover {
      color: white;
    }

    i {
      font-size: 16px;
      vertical-align: bottom;
    }

  }

}

.social {
  a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: fade-out($white, 0.9);
    border-radius: 100%;
    line-height: 3rem;
    color: fade-out($white, 0.7);

    &:hover {
      color: fade-out($white, 0.5);
    }

    &:active {
      color: $white;
    }
  }
}

.bg-black {
  background-color: #343a40 !important;
}

.bg-primary {
  background-color: green;
}

.text-primary {
  color: $primary !important;
}
